{{ if not (or .Site.Params.disable_comments .Params.disable_comments) }}
<section id="comments">
  <div class="container" style="border-top: 1px solid #000;">
	<h3 class="title" style="margin-top: 10px; padding-top: 10px"><a href="#comments"></span> Comments</a></h3>
	<section class="staticman-comments post-comments">

		{{ $comments := readDir .Site.Data.comments }}
		{{ $.Scratch.Add "hasComments" 0 }}
		{{ $postSlug := .File.BaseFileName }}

		{{ range $comments }}
		{{ if eq .Name $postSlug }}
			{{ $.Scratch.Add "hasComments" 1 }}
			{{ range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
				{{ if not .reply_to }}

		<div id="commentid-{{ ._id }}" class="post-comment">
			<div class="post-comment-header">
				<img class="post-comment-avatar" src="https://robohash.org/{{ .name }}?size=70x70">
				<p class="post-comment-info">
					<span class="post-comment-name">{{ .name }}</span>
					<br>
					<a href="#commentid-{{ ._id }}" title="Permalink to this comment">
						<time class="post-time">{{ dateFormat "Monday, Jan 2, 2006 at 15:04 MST" .date }}</time>
					</a>
				</p>
			</div>
			<div class="comment-message">
				{{ .comment | markdownify }}
			</div>
			<div class="comment_reply">
				<button id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Reply to {{ .name }}</button>
			</div>
		</div>
		{{ partial "comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) }}

				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}

		<form id="comment-form" class="post-new-comment" method="post" action="/.netlify/functions/staticman?branch=master">
			{{ if eq ($.Scratch.Get "hasComments") 0 }}
				<p>Be the first to leave a comment! 🎉</p>
      {{ else }}
        <h3 class="prompt">Say something</h3>
			{{ end }}
			<input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
			<input type="hidden" name="options[redirectError]" value="{{ .Permalink }}#comment-error">
			<input type="hidden" name="options[slug]" value="{{ .File.BaseFileName }}">
			<input type="hidden" name="options[origin]" value="{{ .Permalink }}">
 			<input type="hidden" name="options[parent]" value="{{ .Permalink }}">
			<input type="text" name="fields[name]" class="post-comment-field" placeholder="Name *" required/>
			<input type="hidden" id="comment-parent" name="fields[reply_to]" value="">
			<textarea name="fields[comment]" class="post-comment-field" placeholder="Comment (markdown is accepted) *" required rows="10"></textarea>
			<input type="submit" class="post-comment-field btn btn-primary comment-buttons" value="Submit">
		</form>
	</section>

	<div id="comment-submitted" class="dialog">
		<h3>Thank you!</h3>
		<p>Your comment has been submitted and will be published once it has been approved. &#128522;</p>

		<p><a href="#" class="btn btn-primary comment-buttons ok">OK</a></p>
	</div>

	<div id="comment-error" class="dialog">
		<h3>Ahhhh!</h3>
		<p>The internet trolls have not allowed you to submit your comment. &#128533; Please try agian.</p>
		<p>If you still encouter this issue could you email  <a href="mailto:{{ .Site.Params.Social.email }}">Tim</a> about it.</p>

		<p><a href="#" class="btn btn-primary comment-buttons ok">OK</a></p>
	</div>
  </div>
</section>
{{ end }}